.container-wrap{
    display: flex;
    background-color: white;
}



.index-card{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    justify-content: space-evenly;
    gap: 2em;
    row-gap: 3em;
}

.card-display-content{
    overflow: hidden;
    overflow-y: scroll;
}

.width-60 {
    width: 70%;
}

.width-40 {
    width: 30%;
}

.scrollbar-custom::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 18px;
	background-color: #F5F5F5;
}

.scrollbar-custom::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $dark-green;
}
