// Import page-specific CSS files here.
@import "home";

.container-wrap{
    display: flex;
}

.maps{
    top: 0;
    background-color: lightseagreen;
    width: 40vw;
    height: 85vh;   
    padding: 10px;
    
}

.index-card{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    justify-content: space-evenly;
    gap: 2em;
}

.card-display-content{
    overflow: hidden;
    overflow-y: scroll;
}