// Import page-specific CSS files here.
@import "home";

.container-wrap{
    display: flex;
}

.maps{
    top: 0;
    background-color: lightseagreen;
    width: 40vw;
    height: 85vh;   
    padding: 10px;
    
}

