<div class="container-wrap">
  <div class="card-display-content scrollbar-custom width-60">
    <div class="d-flex force-overflow justify-content-center">
      <div class="search-index">
        <%= render "shared/searchbar" %>
      </div>
    </div>
    <div class="index-card">
        <% if @users.any? %>
            <% @users.each do |user| %>
            <%= render "shared/card", user: user %>
        <% end %>
        <% else %>
            <p>Aucun professeur trouvé.</p>
        <% end %>
    </div>
  </div>
  <div class="maps " style="width: 30%; height: 90vh;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
