<h3 class="pt-5">Les compétences que tu enseignes</h3>
  <div >
    <% current_user.skills.each do |skill| %>
    <div class="px-3 py-2 rounded-pill text-light me-2 mb-3", style="background-color:#70B1B3; display:inline-block;" data-insert-in-list-target="skills">
      <%= skill.name %>
    </div>
    <% end %>

    <div type="button" class="px-3 py-2 rounded-pill text-reset" data-bs-toggle="modal" data-bs-target="#newSkill", style="background-color:#E4EEED; display:inline-block">
    <i class="fa-solid fa-plus"></i>
    </div>
    <%= render "skills/form", skill: @skill %>
  </div>

<% if current_user.skills.count > 0 %>
  <%= render "shared/incoming_teacher_bookings" %>
<% end %>
