<div class="inbox-wrapper" id="inbox-wrapper">
  <div class="inbox-links" data-controller="chat">
    <p>Inbox</p>

    <% @chatrooms.each do |chatroom| %>
      <div  data-action="click->chat#reveal" class="inbox-link" data-chat-id=" <%= chatroom.id %>" >
     
        <div class="inbox-avatar">
          <%= image_tag "avatar.png", class: "img_avatar" %>
        </div>
        <div class="inbox-user-info">
          <p class="inbox-user-name"><%= chatroom.booking.user.first_name.capitalize %></p>
          <p class="inbox-user-skill"><%= chatroom.booking.skill.name.downcase %></p>
        </div>
    
      </div>
    <% end %>
  </div>

    <% chatroom1 = @chatrooms.first%>
    <div class="inbox-chat" id="test" data-controller="chat-container" data-close-icon-target="inboxChat">
      
    </div>
</div>