

<div class="container">
    <div class="custom-searchbar-display">
    <%= form_with url: skills_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-input custom-searchbar",
            placeholder: Skill.all.sample.name.capitalize
        %>
      <%= submit_tag "Search", name: "", class: "btn custom-searchbar-button" %>
    <% end %>
    </div>
  </form>
</div>
