<div data-controller="dashboard">
  <div class="d-flex gap-5 justify-content-evenly">
    <div class="dashboard-nav-student px-3 py-2 rounded-pill fs-5" data-action="click->dashboard#displayStudent" data-dashboard-target="btnStudent">
      Étudiant
    </div>
    <div class="dashboard-nav-teacher px-3 py-2 rounded-pill fs-5" data-action="click->dashboard#displayTeacher" data-dashboard-target="btnTeacher">
      Professeur
    </div>
  </div>

  <div data-dashboard-target="student">
    <%= render "shared/bookings_student" %>
  </div>

  <div data-dashboard-target="teacher" class="d-none">




      <div data-controller="insert-in-list">
        <%= render "shared/bookings_teacher", skill: @skill %>
      </div>

  </div>
</div>
