.card-display-content{
  border-radius: 18px;
  padding: 20px 25px;
  background-color: orange;
  height: 90vh;
  margin: 20px;
  width: fit-content;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
