
.card {
    width: 230px;
    height: 380px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-family: "Montserrat", sans-serif;
}
    
.top-part {
    background: no-repeat center/100%;
    height: 50vh;
    border-radius: 8px 8px 0 0;
    transition: background-size 0.75s ease
}
    
.card:hover .top-part {
    background: no-repeat center/110% url("https://images.unsplash.com/photo-1610429419519-8cdee5a8e615?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTB8fHBpYW5pc3RlfGVufDB8fDB8fHww");
}


.bottom-part {
    padding: 13px;
    // background-color: white;
    border-top: 1px solid #ccc;
}

.card-name h3 {
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

.card .details {
    display: flex;
    flex-direction: column;
}

.card .details p {
    color: black;
    font-size: 16px;
    margin: 5px 0;
}

.tags{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    // flex-wrap: wrap;
    padding-left: 0rem;
    gap: 3px;
    margin-bottom: 2px;
    overflow: scroll;
}


.tags::-webkit-scrollbar {
    display: none;
  }
.tags {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

.tags li{
    color: white;
    background-color: #23898C;
    border-radius: 10px;  
    padding-left: 10px;
    padding-right: 10px;
    
}


