.chatroom {
  background: rgba(255, 255, 255, 0.2);
  margin-top: 9px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  width: 60vw;
  border-radius: 10px;
  border: 1px solid $gray-200;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: auto;
  max-height: 60vh;

  .messages {
    height: 50vh;
    overflow-y: scroll;

    /* Style de la barre de défilement pour les navigateurs basés sur WebKit */
    &::-webkit-scrollbar {
      width: 12px; /* Largeur de la barre de défilement */
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1; /* Couleur de l'arrière-plan de la piste */
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888; /* Couleur de la barre de défilement */
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555; /* Couleur de la barre de défilement au survol */
    }

    /* Style de la barre de défilement pour Firefox */
    scrollbar-width: thin; /* Largeur de la barre de défilement */
    scrollbar-color: #888 #f1f1f1; /* Couleur de la barre de défilement et de la piste */
  }

  .custom-input {
    width: 330px;
    background-color: white;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 10px;
    margin: 0;
    // border: 1px solid #ced4da;
    height: 40px; /* Assure que l'input occupe toute la hauteur */
  }

  .custom-submit {
    margin-left: 0;
    padding-right: 100%;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 8px;
    background-color: #093943;
    color: white;
    cursor: pointer;
    height: 100%; /* Assure que le bouton occupe toute la hauteur */
  }

  .custom-submit:hover {
    background-color: #80cbc4;
  }

  .bubble-chat {
    --r: 1em;  /* the radius */
    --t: 1.5em; /* the size of the tail */
    
    max-width: 300px;
    padding: 1em;
    border-inline: var(--t) solid #0000;
    border-radius: calc(var(--r) + var(--t))/var(--r);
    mask: 
      radial-gradient(100% 100% at var(--_p) 0,#0000 99%,#000 102%) 
        var(--_p) 100%/var(--t) var(--t) no-repeat,
      linear-gradient(#000 0 0) padding-box;
    background: linear-gradient(135deg,#FE6D00,#1384C5) border-box;
    color: #fff;
  }

  .left {
    --_p: 0;
    border-bottom-left-radius: 0 0;
    place-self: start;
  }

  .right {
    --_p: 100%;
    border-bottom-right-radius: 0 0;
    place-self: end;
  }
}

.fa-xmark {
  padding: 5px 10px 5px 10px;

  &:hover {
    background-color: rgba(128, 128, 128, 0.5); // $gray-200 with 50% opacity
    border-radius: 8px;
  }
}