.dashboard-nav{
  // width: 25%;
  border-radius: 8px;
  // height: 6vh;
  color: white;
  text-align: center;
  background-color: purple;
  // margin: 0;
  cursor: pointer;
}
.dashboard-nav-unavailable{
  width: 50%;
  border-radius: 8px;
  margin: 10px;
  height: 6vh;
  color: white;
  text-align: center;
  background-color: lightgray;
  margin: 0;
}
