.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  background: none!important;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.mapboxgl-popup-content a:focus-visible {
  outline: none!important;
}
