.container {
  width: 50%;
  margin: 0 auto;
  border-radius: 50px;
}

input:focus-visible {
  outline: none !important;
}

.custom-searchbar-display {

  position: relative;

  .custom-searchbar {
    border-radius: 50px;
    width: 100%;
    padding: 15px;
    border: 6px solid #BDDADA;
  }
  .custom-searchbar-button {
    position: absolute;
    right: 10px;
    top: 11px;
    border: none;
    background: $ultra-dark-green;
    color: white;
    border-radius: 50px;
    padding: 10px 25px;;
    z-index: 100;
    transition: all .2s;

    &:hover {
      background-color: $light-green;
      color: #fff;
      cursor: pointer;
    }
  }
}
