.sidebar{
  height: 80vh;
  margin: 20px;
  padding: 20px 10px;
  color : white;
  background-color: #093943;
  width: fit-content;
  border-radius: 18px;
  border: solid 1px #051f25;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 100;
  opacity: 0.9;


  .center-avatar{
    margin: 0 auto;
    width: fit-content;
    padding: 2vh 0;
  }

  .img_avatar{
    width: 40px;
    margin-bottom: 15px;
  }

  .side-items {
    margin: 0 auto;
    text-align: center;
    padding-left: 0px;
    i {
      padding: 0px 10px;
    }
  }

  .side-item{
    display: flex;
    list-style-type: none;
    padding: 2vh 0;
    vertical-align: baseline;
  }
  .side-item-name {
    text-decoration: none;
    text-align: left;
    overflow: hidden;
    width: 0px;
    transition: all ease 0.5s;
    margin-top: -4px;
    white-space: nowrap;
    color: white;
  }

  &:hover {
    .side-item-name {
      width: 180px;
    }
    .img_avatar{
      width: 80px;
    }

  }

  &:not(:hover) {
    .side-item > i:hover + .side-item-name {
      width: 0px;
    }
  }
}
