.sidebar{
  height: 90vh;
  margin: 20px;
  padding: 20px 10px 5px;
  color : white;
  background-color: $dark-green;
  width: fit-content;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 100;
  opacity: 0.9;
  display: flex;
  flex-direction: column;

  .center-avatar {

    margin: 0 auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 2vh 0;
    min-height: 180px;
    text-align: center;
  }

  .img_avatar{
    img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-bottom: 15px;
      transition: all ease 0.5s;
    }

  }
  .user-infos{
    display: none;
    text-align: center;
    opacity: 0;
    transition: all linear 1s;
    width: 0;
    // width: 20px;
  }

  .wrapper-sidebar-item {
    text-decoration: none;
    display: flex;
    align-items: start;
    color: white;
    i {
      padding: 0px 10px;
    }
  }


  .side-item-name {
    text-decoration: none;
    text-align: left;
    overflow: hidden;
    width: 0px;
    transition: all ease 0.5s;
    margin-top: -4px;
    white-space: nowrap;
    color: white;
  }

  &:hover {
    .side-item-name {
      width: 180px;
      min-width: 30px;
    }
    .img_avatar{
      img{
        width: 80px;
        height: 80px;
      }
    }
    .user-infos{
      display: block;
      width: auto;
      opacity: 1;
    }

  }

}
